scripts/*.log
dune-cornerpoint
dune-cornerpoint-build
ert
opm-autodiff
opm-autodiff-build
opm-benchmarks
opm-benchmarks-build
opm-cmake
opm-cmake-build
opm-core
opm-core-build
opm-material
opm-material-build
opm-parser
opm-parser-build
opm-polymer
opm-polymer-build
opm-porsol
opm-porsol-build
opm-upscaling
opm-upscaling-build
ResInsight
ResInsight-build
